/* Default (portrait mode) - each column takes up full width */
.card-col {
    flex: 0 0 100%;
    max-width: 100%;
}

/* In landscape mode, make the columns 50% wide so they appear side by side */
@media (orientation: landscape) {
    .card-col {
        flex: 0 0 50%;
        max-width: 50%;
    }
}

.bottom-buttons-container {
    display: flex;
    justify-content: space-between;
    margin: 16px;
}
